*{
    margin:0;
    padding:0;
}
.container{
    background-color:white;
    font-size:20px;
    color:rgb(100, 91, 91);
    font-family: Salsa;
    margin: auto;
}
.banner{
    color:rgb(58, 51, 51);
    width: 1300px;
    padding: 20px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: fit-content;
}
.banner p > span{
    align-items: center;
    text-align: center;
}
#close{
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.contact-box{
    grid-area:"contact-box";
    margin: 40px;
    background: rgb(243, 207, 207);
    display: grid; 
    column-count: 2;
    grid-template-columns: auto auto;
    border-radius: 10px;
}
.contact-left{
    grid-area:"contact-left";
    background-color: rgb(240, 142, 142);
    margin: auto;
    padding: 14%;
    border-radius: 10px;
}
#prenume{
    padding: 15px;
    background-color: white;
}
#nume{
    padding:15px;
    background-color: white;
}
textarea{
    width: 80%;
    border: 1px solid gray;
    resize: none;
    padding: 15px;
    box-sizing: border-box;
}
#submit{
    background-color: rgb(190, 4, 4);
    width:100px;
    outline: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    padding:25px;
    float:right;
}
form {
    width:inherit;
    height: 100px;
    margin-left: 0px auto;
    padding: 1em;
    box-sizing: border-box; 
}
label{
    color: rgb(78, 73, 73);
}
.contact-right{
    grid-area:"contact-right";
    margin: auto;
    background-image: url(fundal.jpg);
    border-radius: 10px;
}
 h2{
    color: black;
    margin: 270px 330px;
}
.contact-right p{
    margin-left: 120px;
    margin-bottom: 30px;
    color: rgb(253, 253, 253);
    font-size: 25px;
}

/*mobile responsive*/
@media only screen and (min-width: 600px){
    .contact-box{grid-template-columns: auto;}
    .contact-left{height: fit-content; margin-top: 30px; margin-bottom: 30px;}
    .contact-right{height: fit-content;}
}
@media only screen and (min-width: 768px) {
    .contact-box{grid-template-columns: auto;}
    .contact-left{height: fit-content;
        margin-top: 30px; margin-bottom: 30px;}
    .contact-right{height: fit-content;
        width: fit-content;}
    }
@media only screen and (min-width: 992px) {
    .contact-box{grid-template-columns: auto;}
    .contact-left{height: fit-content;
        margin-top: 30px; margin-bottom: 30px;}
    .contact-right{height: fit-content;
        width: fit-content;}
}
@media only screen and (min-width: 1200px) {
    .contact-box{
        grid-template-columns: auto auto;
        grid-gap: 10px;}
    .contact-right{height: fit-content;
                    width: fit-content;}
    .contact-left{height: fit-content;
                    width: fit-content;}
}
